{% extends 'base.html.twig' %}

{% block title %}5 Seconds - Subject Menu{% endblock %}
{% block heading1 %}Subject Menu{% endblock %}



{% block body %}

    <div class="table">
        <div class="table-row">
            <span class="table-cell">Subject name</span>
            <span class="table-cell">Description</span>
        </div>
        <ul>
            {% for subject in subjects %}
                <li class="table-row" id="subject{{subject.id}}">
                    <form onsubmit="return false;">
                        <input name="name" type="text" value="{{subject.name}}" disabled=true>
                        <input name="description" type="text" value="{{subject.description}}" disabled=true>
                        <button class="edit-button" onclick="toggleSubjectEditable('{{subject.id}}')">edit</button>
                        <button class="delete-button" onclick="deleteSubject('{{subject.id}}')">x</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>
            New Subject
        </p>
        <form class="table-row" action="{{path('add_subject')}}" method="post">
            <input class="table-cell" type="text" name="name">
            <input class="table-cell" type="text" name="description">
            <input type="submit">
        </form>


    </div>

{% endblock body %}
